In [ ]:
# 2. Cleaning data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_bank_transactions = pd.read_csv(r'C:\Users\Admin\Desktop\bank_transactions.csv', sep=',')
df_bank_transactions

In [ ]:
# I need to find out how many missing numbers are in each column using isnull()
print(df_bank_transactions.isnull().sum())

In [ ]:
# I need to remove the rows where the data are missing using dropna()
df_cleaned = df_bank_transactions.dropna()
df_cleaned

In [ ]:
# I need to verify the cleaned data.
print(df_cleaned.isnull().sum())

In [ ]:
# After using dropna(). There should be 17 entries, not 20. 
row_count = len(df_cleaned)
print(f"Number of rows: {row_count}")

In [ ]:
df_cleaned

In [ ]:
# I need to check whether there are duplicates in the transaction_id column. 
duplicates = df_cleaned[df_cleaned.duplicated(subset=['transaction_id'])]
print(duplicates)

In [ ]:
# I need to check the whether each column has the same format. 
df_cleaned.info()

In [ ]:
# I need to check whether the amounts in the column "amount" have all positive amounts. 
# Firstly, I need to filter the negative amounts in the "amount" column. 
negative_amounts = df_cleaned[df_cleaned['amount'] < 0]
print(negative_amounts)

In [ ]:
# I want to convert the negative amount to positive using absolute value function. 
df_cleaned.loc[:, 'amount'] = df_cleaned.loc[:,'amount'].abs()
df_cleaned

In [ ]:
# It seems that the transaction_date column contains different formats. I need to convert the dates to a uniform format
# using "pd.to_datetime()"
# I need to use ".loc" because it explicitly assign values to a column in a DataFrame ensuring that I'm modifiyng the original DataFrame. Otherwise the warning occurs, informing that I'm modyfiyng a view. 
# I need to use ":, 'transaction_date'". This means that I'm selecting the whole column. 

df_cleaned.loc[:, 'transaction_date'] = pd.to_datetime(
    df_cleaned.loc[:,'transaction_date'],
    format='%Y-%m-%d',
    errors='coerce'
)

In [ ]:
# I need to verify whether the inserted date has correct format. It should be datetime64[ns]. 
print(df_cleaned['transaction_date'].dtype)

In [ ]:
df_cleaned

In [ ]:
# I want to get rid of the "failed" status using filter out the rows where the "status" is failed. 
df_cleaned = df_cleaned[df_cleaned['status'] != 'failed']
df_cleaned

In [ ]:
# I need to check whether the formats in columns are correct. 
print(df_cleaned.dtypes)

In [ ]:
# As the transaction type (text) is object, I would like to change to format string. 
df_cleaned.loc[:,'transaction_type'] = df_cleaned.loc[:,'transaction_type'].astype('string')
print(df_cleaned['transaction_type'].dtype)

In [ ]:
# As the customer_id is float64, I would like to change to format int64.
df_cleaned.loc[:, 'customer_id'] = df_cleaned.loc[:, 'customer_id'].apply(lambda x: int(x))

# Verify the change
print(df_cleaned['customer_id'].dtype)

In [ ]:
# As the status (text) is object, I would like to change to format string. But 
df_cleaned.loc[:, 'status'] = df_cleaned.loc[:,'status'].astype(pd.StringDtype())

# Verify the change
print(df_cleaned['status'].dtype)  # Should print 'string'

In [ ]:
print(df_cleaned.dtypes)